youtube_search
ffmpeg-python
youtube-search-python==1.4.9
yt-dlp
dnspython
gitpython
aiofiles
aiohttp
requests
pillow
heroku3
motor
psutil
future
wget
TgCrypto
pyrogram
py-tgcalls==0.8.1
asyncio
youtube-search-python
yt-dl
python-dotenv
