

ffmpeg-python

youtube-search-python==1.4.9
yt-dlp==2021.11.10.1



dnspython
gitpython
aiofiles
aiohttp
requests
pillow
heroku3
motor
psutil
future
wget

TgCrypto
pyrogram
py-tgcalls==0.8.1
asyncio
youtube-search-python
yt-dlp
python-dotenv
